body {
    font-family: sans-serif;
}

h1 {
    border-bottom: solid 1px #17194c;
}

h2 {
    padding: 0 10px;
    border-left: solid 4px #17194c;
}

#header {
    height: 40px;
    padding: 10px 20px;
    background-color: #17194c;
}

#header img {
    height: 100%;
}

#titleInput {
    width: 40%;
    padding: 10px;
    margin: 10px;
    border: solid 2px #666;
}

#textInput {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: solid 2px #666;
}

.text {
    padding: 10px;
    margin: 10px;
    background-color: #eef;
}
