<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Django Sample Application at INIAD" />
        <title>Django Sample Application</title>
    </head>
    <body>
        <h2>Hello, {{ name }}</h2>
        <h2>Today's weather: {{ weather|lower }}</h2>
        <ul>
            {% for detail in weather_details %}
                <li>{{ detail }}</li>
            {% endfor %}
        </ul>
        <h2>Today's fortune: {{ fortune }}</h2>
        {% if is_great_fortune %}
            <img src="https://1.bp.blogspot.com/-al_xSk3GL1o/XLAdSlunhRI/AAAAAAABSXQ/3_HokhAnxAA6X-noz5UOIm88i73rclf8gCLcBGAs/s200/mark_oukan_crown9.png"
                alt="crown image" />
        {% else %}
            <img src="https://1.bp.blogspot.com/-lhnCOZpQOAI/XGjx_uTW7fI/AAAAAAABRdc/EkM9bOYa5xEXF89YtBG7F9cdIcCOKTp6wCLcBGAs/s400/animal_panda_cheerleader.png"
                alt="cheer leader image" />
        {% endif %}
    </body>
</html>
